.expenses_container {
  margin: 1.5rem;
}

.demo-table {
  width: 100%;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
  height: 4rem;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.mat-column-date {
  flex: 0 0 15%;
  justify-content: center;
}

.mat-column-description {
  flex: 0 0 60%;
  justify-content: start;
}

.mat-column-amount {
  flex: 0 0 15%;
  justify-content: center;
  font-weight: bold;
}
