<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  fxLayout="column"
  fxLayoutAlign="center stretch"
>
  <h1>
    {{
      isEditing ? "Estas editando un ingreso..." : "Estas creando un ingreso..."
    }}
  </h1>
  <mat-form-field appearance="legacy">
    <mat-label>Monto</mat-label>
    <input matInput type="number" formControlName="amount" placeholder="100" />
    <mat-icon matSuffix color="primary">paid</mat-icon>
    <mat-hint>Campo obligatorio</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="legacy">
    <mat-label>Descripción</mat-label>
    <textarea
      matInput
      type="text"
      formControlName="description"
      placeholder="Pago de ...."
    ></textarea>
    <mat-icon matSuffix color="primary">density_medium</mat-icon>
    <mat-hint>Campo obligatorio</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="legacy">
    <mat-label>Cobrador</mat-label>
    <input
      matInput
      type="text"
      formControlName="collector"
      placeholder="Juan pinto"
    />
    <mat-icon matSuffix color="primary">person</mat-icon>
    <mat-hint>Campo obligatorio</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="legacy">
    <mat-label>Fecha de pago</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date" />
    <mat-hint>DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="legacy" *ngIf="isEditing">
    <mat-label>Fecha de pago</mat-label>
    <mat-select formControlName="status">
      <mat-option [value]="status" *ngFor="let status of statusList">
        {{ status }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Guardar</button>
</form>
