<form
  [formGroup]="form"
  (ngSubmit)="save()"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <mat-form-field appearance="legacy">
    <mat-label>Nombre</mat-label>
    <input
      matInput
      type="text"
      formControlName="name"
      placeholder="JUAN PEREZ"
    />
    <mat-icon matSuffix color="primary">face</mat-icon>
    <mat-hint>Campo obligatorio</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="legacy" *ngIf="isEditing">
    <mat-label>Email</mat-label>
    <input
      matInput
      type="email"
      formControlName="email"
      placeholder="usuario@mail.com"
      autocomplete="off"
    />
    <mat-icon matSuffix color="primary">mail</mat-icon>
    <mat-hint>Tiene que ser un email valido</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="legacy" *ngIf="isEditing">
    <mat-label>Contraseña</mat-label>
    <input
      matInput
      type="password"
      formControlName="password"
      placeholder="*******"
    />
    <mat-icon matSuffix color="primary">password</mat-icon>
    <mat-hint>Si existe, minimo 6 caracteres</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="legacy">
    <mat-label>Numero de manzano</mat-label>
    <mat-select formControlName="block_number">
      <mat-option *ngFor="let block of blocks" [value]="block">
        {{ block }}
      </mat-option>
    </mat-select>
    <mat-icon matSuffix color="primary">dashboard</mat-icon>
    <mat-hint>Campo obligatorio</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="legacy">
    <mat-label>Numero de lote</mat-label>
    <input
      matInput
      type="text"
      formControlName="address_number"
      placeholder="4"
    />
    <mat-icon matSuffix color="primary">store</mat-icon>
    <mat-hint>Campo obligatorio</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill" *ngIf="isEditing">
    <mat-label>Rol</mat-label>
    <mat-select formControlName="role">
      <mat-option [value]="role.id" *ngFor="let role of roles">
        {{ role.name }}
      </mat-option>
    </mat-select>
    <mat-hint align="end">Selecciona</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill" *ngIf="isEditing">
    <mat-label>Estado</mat-label>
    <mat-select formControlName="status">
      <mat-option [value]="state" *ngFor="let state of status">
        {{ state }}
      </mat-option>
    </mat-select>
    <mat-hint align="end">Selecciona</mat-hint>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Guardar</button>
</form>
