<form [formGroup]="form" (ngSubmit)="save()">
  <label>Correo</label>
  <input type="text" formControlName="email" />
  <br />
  <label>Nombre completo</label>
  <input type="text" formControlName="name" />
  <br />
  <label>Contraseña</label>
  <input type="password" formControlName="password" />
  <br />
  <label>Carnet de identidad</label>
  <input type="text" formControlName="identification_number" />
  <br />
  <label>Numero de Manzano</label>
  <input type="text" formControlName="block_number" />
  <br />
  <label>Numero de lote</label>
  <input type="text" formControlName="address_number" />
  <br />

  <button type="submit">Guardar</button>
</form>
