<mat-card appearance="outlined" *ngIf="certification$ | async as certification">
  <mat-card-header>
    <mat-card-title>{{ certification.user.name | uppercase }}</mat-card-title>
    <mat-card-subtitle>
      {{ certification.date | date : 'fullDate' }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p><strong>Detalle: </strong> {{ certification.description | uppercase }}</p>
    <p><strong>Costo: </strong> {{ certification.amount | currency : 'Bs.' }}</p>
    <p><strong>Tipo: </strong> {{ certification.type | toSpanish }}</p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="warn" (click)="remove(certification.id)">Eliminar</button>
  </mat-card-actions>
</mat-card>
