<ng-container *ngIf="user$ | async as user">
  <div class="flex-row-start-center" *ngIf="contributionsPaid$ | async as contributionPaid">
    <button mat-raised-button color="primary" (click)="reprint(user.id, contributionPaid)">
      REIMPRESION
    </button>
  </div>

  <div class="flex-column-start-stretch" style="margin-top: 1rem">
    <table
      mat-table
      [dataSource]="
        (contributions$ | async) ?? [] | preContributions : (contributionsPaid$ | async) ?? []
      "
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Descripción</th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      </ng-container>

      <ng-container matColumnDef="amountToPay">
        <th mat-header-cell *matHeaderCellDef>Monto a pagar</th>
        <td mat-cell *matCellDef="let element">{{ element.amountToPay }}</td>
      </ng-container>

      <ng-container matColumnDef="amountPay">
        <th mat-header-cell *matHeaderCellDef>Monto pagado</th>
        <td mat-cell *matCellDef="let element">{{ element.amountPay }}</td>
      </ng-container>

      <ng-container matColumnDef="option">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-raised-button
            color="primary"
            (click)="addPreContributionPaid(element)"
            *ngIf="element.amountToPay > element.amountPay"
          >
            Añadir
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="dataSourceColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: dataSourceColumns"></tr>
    </table>

    <div class="flex-column-center-stretch" *ngIf="preContributions$ | async as preContributions">
      <ng-container *ngIf="preContributions.length > 0">
        <table mat-table [dataSource]="preContributions" class="mat-elevation-z8">
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>DESCRIPCION</th>
            <td mat-cell *matCellDef="let element">{{ element.description }}</td>
          </ng-container>

          <ng-container matColumnDef="amountToPay">
            <th mat-header-cell *matHeaderCellDef>MONTO</th>
            <td mat-cell *matCellDef="let element">{{ element.amountToPay }}</td>
          </ng-container>

          <ng-container matColumnDef="option">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-raised-button
                color="primary"
                (click)="substractPreContributionPaid(element)"
              >
                Quitar
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="preContributionsColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: preContributionsColumns"></tr>
        </table>
        <h2>Total: {{ total$ | async }}</h2>

        <mat-form-field appearance="fill">
          <mat-label>Fecha de pago</mat-label>
          <input matInput [matDatepicker]="picker" [formControl]="inputDate" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <button
          *ngIf="preContributions$ | async as preContributions"
          mat-raised-button
          color="primary"
          (click)="confirmPay(preContributions)"
        >
          Confirmar pago
        </button>
      </ng-container>
    </div>
  </div>
</ng-container>
