.mat-column-description {
  font-style: italic;
  font-weight: bold;
  width: 70%;
}

.mat-column-amountToPay {
  text-align: center;
  width: 10%;
}

.mat-column-amountPay {
  text-align: center;
  width: 10%;
}

.mat-column-option {
  width: 10%;
}
