.users_container {
  margin: 1.5rem;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.mat-column-name {
  font-weight: bold;
  flex: 0 0 60%;
}
.mat-column-block-number {
  justify-content: center;
  flex: 0 0 20%;
}
.mat-column-address-number {
  justify-content: center;
  flex: 0 0 20%;
}
