<ng-container *ngIf="user$ | async as user">
  <div class="card-container-responsive">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h2>{{ user.name }}</h2>
        </mat-card-title>
  
        <mat-card-subtitle *ngIf="user.role != 'USER'">
          {{ user.role }}
        </mat-card-subtitle>
      </mat-card-header>
  
      <mat-card-content>
        <ng-container *ngIf="user.role != 'USER'">
          <p><strong>Email: </strong>{{ user.email }}</p>
          <p><strong>Rol: </strong>{{ user.role }}</p>
        </ng-container>
        <p><strong>Manzano: </strong>#{{ user.block_number }}</p>
        <p><strong>Carnet de identidad: </strong>#{{ user.identification_number }}</p>
        <p><strong>Lote: </strong>#{{ user.address_number }}</p>
        <p><strong>Estado: </strong>{{ user.status }}</p>
      </mat-card-content>
    </mat-card>
  </div>
  
</ng-container>
