<div style="margin: 1rem">
  <h2>CERTIFICACIONES OTB SAN JOSE</h2>
  <mat-form-field>
    <mat-label>Nombre de vecino</mat-label>
    <input matInput placeholder="JUAN PEREZ" #keyword />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>

  <mat-table
    [dataSource]="dataSource"
    matSort
    matSortActive="date"
    matSortDirection="asc"
    matSortDisableClear
  >
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        FECHA
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.date | date: "fullDate" | uppercase }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="user">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >VECINO</mat-header-cell
      >
      <mat-cell *matCellDef="let element">
        {{ element.user.name | uppercase }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef>COSTO</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.amount | currency: "Bs." }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      [routerLink]="['/certifications', row.id]"
      *matRowDef="let row; columns: displayedColumns"
    ></mat-row>
  </mat-table>

  <mat-paginator
    [length]="dataSource.size$ | async"
    [pageSize]="take"
    [pageSizeOptions]="[5, 10, 15]"
    showFirstLastButtons
  ></mat-paginator>
</div>
