.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.mat-column-date {
  font-weight: bold;
  justify-content: center;
  flex: 0 0 40%;
}
.mat-column-user {
  flex: 0 0 40%;
}
.mat-column-amount {
  justify-content: center;
  flex: 0 0 20%;
}
