.mat-column-date {
  justify-content: center;
  flex: 0 0 15%;
}
.mat-column-amount {
  justify-content: center;
  flex: 0 0 20%;
}
.mat-column-description {
  justify-content: center;
  flex: 0 0 45%;
}
.mat-column-options {
  justify-content: center;
  flex: 0 0 20%;
}
