<div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="16px">
  <h2>Resumen hacienda</h2>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Ingresos</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ngx-charts-advanced-pie-chart
        [view]="view"
        scheme="cool"
        [results]="incomesChart"
      >
      </ngx-charts-advanced-pie-chart>
    </mat-card-content>
  </mat-card>

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Egresos</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h2>{{ expenses | number: "1.2" }} bs</h2>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>En Caja</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h2>{{ total | number: "1.2" }} bs</h2>
      </mat-card-content>
    </mat-card>
  </div>
</div>
