<h1>Resumen hacienda</h1>

<div>
  <div>
    <h2>Ingresos</h2>
    <p>Mensualidades: {{ monthlyPayments | number: "1.2" }} bs.</p>
    <p>Aportes: {{ contributions | number: "1.2" }} bs.</p>
    <p>Certificaciones: {{ certifications | number: "1.2" }} bs.</p>

    <p>
      <strong>TOTAL: {{ incomes }} Bs.</strong>
    </p>
  </div>
  <div>
    <h2>Egresos</h2>
    <p>
      <strong>TOTAL: {{ expenses | number: "1.2" }} Bs.</strong>
    </p>
  </div>
</div>
<div>
  <h2>En caja</h2>
  <h3>{{ total | number: "1.2" }} bs</h3>
</div>
