::ng-deep .item-value {
  margin-top: 0 !important;
}

::ng-deep .item-label {
  margin-top: 0px !important;
}

::ng-deep .total-label {
  margin-top: 5px !important;
}


.sumary-container{
  height: 100%;
  display: grid;
  grid-template-rows: 3rem 300px 200px;
  grid-template-columns: 50% 50%;
  justify-items: center;
  align-items: center;
  gap: 1rem;

  .title {
    margin-top: 1rem;
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .chart {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .expense{
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: end;
    align-self: self-start;
  }

  .total {
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: start;
    align-self: self-start;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
