<ng-container *ngIf="user">
  <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="16px">
    <button
      mat-raised-button
      [routerLink]="['./detail']"
      routerLinkActive="active"
    >
      Informacion del usuario
    </button>

    <button
      mat-raised-button
      routerLinkActive="active"
      [routerLink]="['./payment']"
    >
      Mensualidades
    </button>
    <button
      mat-raised-button
      [routerLink]="['./contributions']"
      routerLinkActive="active"
    >
      Aportes
    </button>

    <button
      mat-raised-button
      [routerLink]="['./attendences']"
      routerLinkActive="active"
    >
      Asistencias a reuniones
    </button>

    <button
      mat-raised-button
      [routerLink]="['./certifications']"
      routerLinkActive="active"
    >
      Certificaciones
    </button>

    <button
      mat-raised-button
      [routerLink]="['./edit']"
      routerLinkActive="active"
    >
      Modificar
    </button>

    <button mat-raised-button color="warn" (click)="remove()">Eliminar</button>
  </div>

  <div style="margin-top: 12px">
    <p><strong>Usuario: </strong> {{ user.name }}</p>
  </div>

  <router-outlet></router-outlet>
</ng-container>
