table {
  width: 80%;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.mat-column-description {
  width: 80%;
}

.mat-column-amount {
  width: 20%;
  font-weight: bold;
  text-align: center;
}
