<div>
  <h2>Ingresos</h2>

  <mat-form-field>
    <input matInput placeholder="Buscador..." [formControl]="inputKeyword" />
  </mat-form-field>

  <button mat-mini-fab color="primary" (click)="search()">
    <mat-icon>search</mat-icon>
  </button>
  <button mat-mini-fab (click)="clean()">
    <mat-icon>close</mat-icon>
  </button>

  @if (dataSource.loading$ | async) {
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
  }

  @if (size < 1) {
    <div>
      <h2>No exisiten coincidencias!</h2>
    </div>
  }

  <div [ngClass]="size < 1 ? 'd-none' : ''">
    <mat-table
      [dataSource]="dataSource"
      matSort
      matSortActive="date"
      matSortDirection="asc"
      matSortDisableClear
      >
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          FECHA
        </mat-header-cell>
        <mat-cell *matCellDef="let income">
          {{ income.date | date }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          MONTO
        </mat-header-cell>
        <mat-cell *matCellDef="let income">{{
          income.amount | currency: "Bs."
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="user">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          VECINO
        </mat-header-cell>
        <mat-cell *matCellDef="let income">
          {{ income.user.name }}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        [routerLink]="['../', row.id]"
        *matRowDef="let row; columns: displayedColumns"
      ></mat-row>
    </mat-table>

    <mat-paginator
      [length]="dataSource.size$ | async"
      [pageSize]="take"
      [pageSizeOptions]="[5, 10, 15]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
