<mat-nav-list>
  <div class="flex-column-start-center">
    <button
      mat-flat-button
      [routerLink]="['dashboard']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: false }"
      >
      INICIO
    </button>

    @if (auth?.role == 'ADMIN') {
      <button
        mat-flat-button
        [routerLink]="['users']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }"
        >
        USUARIOS
      </button>
    }

    <button
      mat-flat-button
      [routerLink]="['expenses']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: false }"
      >
      GASTOS
    </button>
    <button
      mat-flat-button
      [routerLink]="['incomes']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: false }"
      >
      INGRESOS
    </button>

    @if (auth?.role == 'ADMIN') {
      <button
        mat-flat-button
        [routerLink]="['meetings']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }"
        >
        REUNIONES
      </button>
    }

    @if (auth?.role == 'ADMIN') {
      <button
        mat-flat-button
        [routerLink]="['monthly-payments']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }"
        >
        MENSUALIDADES
      </button>
    }

    @if (auth?.role == 'ADMIN') {
      <button
        mat-flat-button
        [routerLink]="['contributions']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }"
        >
        APORTES
      </button>
    }

    <button
      mat-flat-button
      [routerLink]="['extra-contributions']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: false }"
      >
      APORTES EXTRAS
    </button>

    @if (auth?.role == 'ADMIN') {
      <button
        mat-flat-button
        [routerLink]="['certifications']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }"
        >
        CERTIFICACIONES
      </button>
    }

    <button
      mat-flat-button
      [routerLink]="['reports']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: false }"
      >
      REPORTES
    </button>
  </div>
</mat-nav-list>
