<form [formGroup]="form" (ngSubmit)="save()" class="flex-column-center-center">
  <mat-form-field appearance="fill">
    <mat-label>Año</mat-label>
    <mat-select formControlName="year">
      @for (year of years; track year) {
        <mat-option [value]="year">
          {{ year }}
        </mat-option>
      }
    </mat-select>
    <mat-hint>Campo obligatorio</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Mes</mat-label>
    <mat-select formControlName="month">
      @for (month of months; track month) {
        <mat-option [value]="month">
          {{ month }}
        </mat-option>
      }
    </mat-select>
    <mat-hint>Campo obligatorio</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Aporte</mat-label>
    <input
      type="number"
      formControlName="amount"
      min="5"
      max="1000"
      step="5"
      matInput
      placeholder="10"
      />
    <span matPrefix>Bs.&nbsp;</span>
    <span matSuffix>.00</span>
    <mat-hint>Campo obligatorio</mat-hint>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Guardar</button>
</form>
