<ng-container *ngIf="user">
  <h1>Pagos mensuales de:</h1>
  <h2>{{ user.name }}</h2>
  <hr />

  <div>
    <label>Año de cobro</label>
    <select [formControl]="yearInput">
      <option [value]="year" *ngFor="let year of years">{{ year }}</option>
    </select>
  </div>

  <div style="display: flex">
    <table>
      <thead>
        <th>Año</th>
        <th>Mes</th>
        <th>Mensualidad</th>
        <th>Pagado</th>
        <th></th>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let item of monthlyPayments | monthlyPayments: monthlyPaymentsMade
          "
        >
          <td>{{ item.year }}</td>
          <td>{{ item.month }}</td>
          <td>{{ item.amountForPay }}</td>
          <td>{{ item.amountPay }}</td>
          <td>
            <button
              (click)="addToPrePaid(item)"
              *ngIf="item.amountForPay > item.amountPay"
            >
              Añadir
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <app-user-paid-print [userId]="user.id"></app-user-paid-print>
  </div>
</ng-container>
