<mat-toolbar
  color="primary"
  class="toolbar"
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <button mat-icon-button (click)="sidebarToogle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>OTB SAN JOSE</span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <p style="text-align: center">{{ user?.name }}</p>
    <button mat-menu-item (click)="signout()">
      <mat-icon>logout</mat-icon>
      Salir
    </button>
  </mat-menu>
</mat-toolbar>
