<div>
  <h2>Reuniones</h2>
  <table>
    <thead>
      <th>Reunion</th>
      <th>Fecha</th>
      <th>Asistencia</th>
      <th>Multa</th>
      <th>Marcar Asistencia</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of meetings | toAttendence: attendences">
        <td>{{ item.name }}</td>
        <td>{{ item.date | date }}</td>
        <td>{{ item.isPresent }}</td>
        <td>{{ item.fine }}</td>
        <td>
          <button
            *ngIf="item.isPresent === 'NO' && canAsist(item.date)"
            (click)="markAttendence(item)"
          >
            Asistir
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
