<div class="container">
  <ng-container *ngIf="extraContribution">
    <mat-card class="mat-elevation-z8">
      <mat-card-header>
        <mat-card-title>
          <h2>{{ extraContribution.name }}</h2>
        </mat-card-title>
        <mat-card-subtitle>
          {{ extraContribution.amount | currency: "Bs." }}
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>
          <strong>Descripción: </strong> {{ extraContribution.description }}
        </p>
      </mat-card-content>

      <mat-card-actions align="end">
        <button mat-raised-button color="accent" (click)="generateList()">
          Lista de contribuyentes
        </button>
        <button mat-raised-button color="primary" [routerLink]="['../edit']">
          Editar
        </button>
      </mat-card-actions>
    </mat-card>

    <ng-container *ngIf="payments.length; else empty">
      <table mat-table [dataSource]="payments" class="mat-elevation-z8 table">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let element">{{ element.user.name }}</td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Fecha</th>
          <td mat-cell *matCellDef="let element">
            {{ element.date | date: "mediumDate" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Pagado</th>
          <td mat-cell *matCellDef="let element">
            {{ element.amount | currency: "Bs." }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </ng-container>

    <ng-template #empty>
      <h2>No hay pagos registrados</h2>
    </ng-template>
  </ng-container>
</div>
