<ng-container *ngIf="monthlyPayment$ | async as monthlyPayment">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Mensualidad</mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="monthlyPayment">
      <p><strong>Año: </strong>{{ monthlyPayment.year }}</p>
      <p><strong>Mes: </strong>{{ monthlyPayment.month }}</p>
      <p><strong>multa: </strong>{{ monthlyPayment.amount }}</p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-flat-button color="warn" (click)="remove(monthlyPayment.id)">Eliminar</button>
    </mat-card-actions>
  </mat-card>
</ng-container>
