<div class="signin-container">
  <div class="img-container">
    <img src="../../../../../assets/signin2.svg" alt="" />
  </div>
  <form [formGroup]="form" autocomplete="off" (ngSubmit)="signin()">
    <div class="custom-card">
      <div>
        <p class="title">OTB SAN JOSE</p>
      </div>
      <div>
        <mat-form-field class="button-expand">
          <mat-label>Correo</mat-label>
          <input matInput placeholder="Correo electrónico" type="text" formControlName="email" />
          <mat-icon matSuffix color="primary">email</mat-icon>
          <mat-error>Es requerido</mat-error>
          <mat-hint>user@test.com</mat-hint>
        </mat-form-field>

        <mat-form-field class="button-expand">
          <mat-label>Contraseña</mat-label>
          <input
            matInput
            placeholder="Contraseña"
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
          />
          <mat-icon matSuffix color="primary" (click)="showPassword = !showPassword">
            {{ showPassword ? 'visibility' : 'visibility_off' }}
          </mat-icon>
          <mat-error>Es requerido</mat-error>
          <mat-hint>Minimo 6 caracteres</mat-hint>
        </mat-form-field>
        <button mat-raised-button color="primary" class="button-expand custom-button" type="submit">
          INGRESAR
        </button>
      </div>
    </div>
  </form>
</div>
